<div *ngIf="options.length" class="input-container">
  <app-input-error [control]="control"></app-input-error>
  <mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <input *ngIf="control" matInput type="text" [formControl]="control" [matAutocomplete]="auto"/>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getName.bind(this)">
      <mat-option *ngFor="let option of filteredOptions" [value]="option.id">{{ option.name }}</mat-option>
    </mat-autocomplete>
    <button
      *ngIf="showClearButton && control?.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearValue()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
