<div
  class="collection-view-container"
  *ngIf="{ idParam: currentCollectionId(), collection: currentCollection() } as data"
>
  <app-collections-list
    *ngIf="data.idParam; else mainCollections"
    [collectionCards]="data.collection?.subcollections ?? []"
    [collectionName]="data.collection?.name"
    (onCollectionSelect)="selectCollection($event)"
  >
    <app-collections-view-actions
      actions
      [hasParent]="!!data.idParam"
      [parentCollectionName]="data.collection?.parentName"
      [parentCollectionId]="data.collection?.parentId"
      (onNavigateBack)="navigateBack($event)"
    ></app-collections-view-actions>
  </app-collections-list>
</div>

<ng-template #mainCollections>
  <app-collections-list [collectionCards]="mainCollectionCards() ?? []" (onCollectionSelect)="selectCollection($event)">
    <app-collections-view-actions
      actions
      [hasParent]="!!currentCollectionId()"
    ></app-collections-view-actions>
  </app-collections-list>
</ng-template>
