.card-container {
  border: solid 5px var(--card-border);
  border-radius: 10px;
  width: 100%;
  height: 250px;
  padding: 10px;

  .card-info{
    display: flex;
    flex-direction: column;
    justify-content: start;

    .card-title {
      text-align: center;
    }
  }
}
