.card-container {
  border: solid 5px var(--border);
  border-radius: 10px;
  width: 100%;
  min-width: 230px;
  height: 250px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 50px;

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: start;

    .card-title {
      text-align: center;
    }
  }

  .actions-container {
    visibility: hidden;
  }

  &:hover .actions-container {
    visibility: visible;
  }
}
