.meaning-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;

  .meaning-input {
    flex: 1;
  }
}

.remove-meaning-btn {
  margin-bottom: 20px;
}

.add-meaning-btn-container {
  padding: 0 10%;
}
