.column-container {
  width: 100%;
  height: calc(100vh - 140px);
  border-left: solid 2px var(--border);
  padding: 0 10px 20px;
  overflow-y: auto;
}

.column-container::-webkit-scrollbar {
  display: none;
}
