<app-form-container *ngIf="form" [form]="form" title="Edit collection">
  <div inputs *ngIf="{ collection: collection$ | async } as data">
    <div>
      <p *ngIf="!isNameEdited">
        Title: <span class="edit-inactive-text">{{ data.collection?.name | uppercase }}</span>
        <app-icon-button iconName="edit-white" (onClick)="onNameEditButtonClick()"></app-icon-button>
      </p>
      <app-input
        *ngIf="isNameEdited"
        label="Collection name"
        [control]="form.controls[controlNames.name]"
        [defaultValue]="defaultValues.name"
      ></app-input>
    </div>
    <div>
      <p *ngIf="!isParentEdited">
        In:
        <span class="edit-inactive-text">{{
          data.collection?.parentId ? (data.collection?.parentName | uppercase) : '---------'
        }}</span>
        <app-icon-button iconName="edit-white" (onClick)="onParentEditButtonClick()"></app-icon-button>
      </p>
      <app-autocomplete-input
        *ngIf="isParentEdited"
        label="Parent collection"
        [defaultValue]="undefined"
        [control]="form.controls[controlNames.parentCollectionId]"
        [options]="options()"
        [filteredOptions]="(filteredOptions$ | async) ?? options()"
      ></app-autocomplete-input>
    </div>
  </div>

  <div form-actions class="actions-container">
    <app-button
      *ngIf="isNameEdited || isParentEdited"
      (onClick)="editCollection()"
      [isDisabled]="!form.dirty || !form.valid"
    >
      <div custom-label class="btn-label">
        <app-icon file="save-black" height="25px"></app-icon>
        <p [ngClass]="{ disabled: !form.dirty || !form.valid }">Save</p>
      </div>
    </app-button>
    <app-button *ngIf="isNameEdited || isParentEdited" (onClick)="cancel()">
      <div custom-label class="btn-label">
        <app-icon file="cancel-black" height="25px"></app-icon>
        <p>Cancel</p>
      </div>
    </app-button>
    <app-button (onClick)="removeCollection()">
      <div custom-label class="btn-label">
        <app-icon file="delete-black" height="25px"></app-icon>
        <p>Remove</p>
      </div>
    </app-button>
    <app-button (onClick)="closeRightColumn()">
      <div custom-label class="btn-label">
        <app-icon file="chevron-right-black" height="25px"></app-icon>
        <p>Close</p>
      </div>
    </app-button>
  </div>
</app-form-container>
