.edit-inactive-text {
  display: inline-block;
  margin: 0 15px;
  font-size: 1.3em;
  font-weight: bold;
}

.actions-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  gap: 5px;

  .btn-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    p {
      color: var(--dark-font-color);
    }

    .disabled {
      color: var(--btn-disabled-color);
    }
  }
}
