<div *ngIf="(flashcard$ | async) && form" class="form-container">
  <app-form-container [form]="form" title="Edit flashcard">
    <div inputs>
      <app-word-or-phrase-input
        [control]="wordOrPhraseControl"
        [isExistingFlashcardUsed]="true"
        (markFormAsPristine)="markFormAsPristine()"
        (onDuplicated)="handleDuplicates($event)"
      ></app-word-or-phrase-input>
      <app-autocomplete-input
        label="Parent collection"
        [defaultValue]="undefined"
        [control]="collectionIdControl"
        [options]="options()"
        [filteredOptions]="(filteredOptions$ | async) ?? options()"
      ></app-autocomplete-input>

      <app-meaning-inputs [control]="form.controls[controlNames.meanings]"></app-meaning-inputs>
    </div>
  </app-form-container>

  <div class="actions-container">
    <app-save-button [form]="form" [isDisabled]="!!isDisabled" (onSave)="saveFlashcard($event)"></app-save-button>

    <app-button (onClick)="remove()">
      <div custom-label class="btn-label">
        <app-icon file="delete-black" height="25px"></app-icon>
        <p>Remove</p>
      </div>
    </app-button>

    <app-button (onClick)="closeRightColumn()">
      <div custom-label class="btn-label">
        <app-icon file="chevron-right-black" height="25px"></app-icon>
        <p>Close</p>
      </div>
    </app-button>
  </div>
</div>
