:root {
  --background-color: color-mix(in srgb, #fff, #0b1d28 97%);

  --inactive-tab-background: color-mix(in srgb, #fff, #0b1d28 80%);
  --active-tab-background: color-mix(in srgb, #fff, #0b1d28 40%);

  --breadcrumb-background: color-mix(in srgb, #fff, #0b1d28 80%);
  --breadcrumb-divider: #9e9e9e;

  --main-body-border: #d9d9d9;

  --light-font-color: #d9d9d9;
  --dark-font-color: #262626;

  --border: #d9d9d9;

  --btn-active-background: color-mix(in srgb, #fff, #0b1d28 40%);
  --btn-disabled-color: rgba(0, 0, 0, 0.60);
  --btn-disabled-background: color-mix(in srgb, #fff, #0b1d28 80%);

  --dialog-background-color: color-mix(in srgb, #fff, #0b1d28 80%);
  --dialog-border: #d9d9d9;
  --dialog-color: #fff;
  --dialog-warning: #ffff00;

  --checkbox-border: #d9d9d9;

  --incorrect-answer-background: #a42727;
  --correct-answer-background: #348634;

  --incorrect-label: red;
  --correct-label: greenyellow;
}
