.content-container {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--light-font-color);
  padding: 0;

  .main-body-container {
    height: calc(100vh - 102px);
    overflow-y: hidden;
  }
}
