<div
  class="flashcards-container"
  [ngClass]="{ 'full-width': columns === columnEnum.singleColumn, 'half-width': columns === columnEnum.doubleColumn }"
>
  <div>
    <app-flashcard-view-actions [selectedFlashcards]="selectedFlashcards"></app-flashcard-view-actions>
    <div class="view-container">
      <app-flashcard-view [flashcards]="flashcards()" (onSelectedChange)="changeSelection($event)"></app-flashcard-view>
    </div>
  </div>
  <div *ngIf="columns === columnEnum.doubleColumn">
    <router-outlet></router-outlet>
  </div>
</div>
