.collection-list-container {
  margin: 30px 10%;
  height: 100%;

  .actions-container {
    width: 100%;
    height: 50px;
  }

  .collections-list {
    height: 100%;
    display: grid;
    gap: 30px;
  }

  .full-width {
    grid-template-columns: repeat(4, minmax(200px, 250px));
  }

  .half-width {
    grid-template-columns: repeat(3, minmax(200px, 250px));
  }

  .collection-title {
    height: 70px;
    width: 100%;

    .title {
      display: block;
      font-size: 1.5em;
      font-weight: normal;

      .collection-name {
        display: inline-block;
        margin-left: 15px;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  .collection-list-container {
    .full-width {
      grid-template-columns: repeat(3, minmax(200px, 250px));
    }

    .half-width {
      grid-template-columns: repeat(2, minmax(200px, 250px));
    }
  }
}

@media screen and (max-width: 850px) {
  .collection-list-container {
    .full-width {
      grid-template-columns: repeat(2, minmax(200px, 250px));
    }

    .half-width {
      grid-template-columns: repeat(1, minmax(200px, 250px));
    }
  }
}
