.btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  .btn-label {
    height: 40px;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;

    p {
      color: var(--dark-font-color);
      font-size: 0.85em;
    }

    .disabled {
      color: var(--btn-disabled-color);
    }
  }
}
