<app-select-exercise
  [exercise]="exercise"
  [meanings]="meanings"
  [showAnswer]="showAnswer"
  [(selected)]="selected"
  [isCorrect]="isAnswerCorrect"
>
  <app-button
    class="btn"
    width="250px"
    height="60px"
    label="Show Answer"
    *ngIf="!showAnswer"
    (onClick)="checkAnswer()"
    actions
  ></app-button>
  <app-button
    class="btn"
    width="250px"
    height="60px"
    label="Next"
    *ngIf="showAnswer"
    (onClick)="next()"
    actions
  ></app-button>
</app-select-exercise>
