<div class="container" *ngIf="exercise">
  <app-exercise [instruction]="exercise.instruction">
    <div class="content" content>
      <app-exercise-result [showAnswer]="showAnswer" [isCorrect]="isCorrect" />

      <app-exercise-flashcard-content
        [mainLine]="exercise.wordOrPhrase"
        [correctAnswer]="meanings"
        [showAnswer]="showAnswer"
      >
        <ng-container actions>
          <ng-content select="[actions]"></ng-content>
        </ng-container>
      </app-exercise-flashcard-content>

      <div class="actions">
        <div class="answers">
          <button
            class="answer"
            [ngClass]="{ selected: !showAnswer && answer.isSelected }"
            (click)="click(answer)"
            *ngFor="let answer of answers"
            [disabled]="showAnswer"
          >
            <span
              class="btn"
              [ngClass]="{
                'btn-correct': showAnswer && answer.isCorrect,
                'btn-incorrect': showAnswer && answer.isSelected && !answer.isCorrect,
                'btn-init': !answer.isSelected && (!showAnswer || !answer.isCorrect)
              }"
            >
              <p class="label">{{ answer.value }}</p>
            </span>
          </button>
        </div>
      </div>
    </div>
  </app-exercise>
</div>
