<div class="container" *ngIf="exercise">
  <app-exercise [instruction]="exercise.instruction">
    <div class="content" content>
      <div class="result-container">
        <p *ngIf="showAnswer" [ngClass]="{ correct: isCorrect, incorrect: !isCorrect }" class="result">
          <span *ngIf="isCorrect">Correct!</span>
          <span *ngIf="!isCorrect">Incorrect!</span>
        </p>
      </div>

      <div class="flashcards-container">
        <h2 class="word-or-phrase">{{ exercise.wordOrPhrase }}</h2>
        <h3 class="meanings" *ngIf="showAnswer">{{ meanings }}</h3>
        <app-button
          class="next-btn"
          width="250px"
          height="60px"
          label="Next"
          *ngIf="showAnswer"
          (onClick)="selectNext()"
        ></app-button>
      </div>

      <div class="actions">
        <div class="answers">
          <button
            class="answer"
            [ngClass]="{ selected: !showAnswer && selected?.value === answer.value }"
            (click)="click(exercise, answer)"
            *ngFor="let answer of answers"
            [disabled]="showAnswer"
          >
            <span
              class="btn"
              [ngClass]="{
                'btn-correct': showAnswer && isCorrectAnswer(answer),
                'btn-incorrect': showAnswer && selected?.value === answer.value && !isCorrectAnswer(answer),
                'btn-init': selected?.value !== answer.value && (!showAnswer || !isCorrectAnswer(answer))
              }"
            >
              <p class="label">{{ answer.value }}</p>
            </span>
          </button>
        </div>
      </div>
    </div>
  </app-exercise>
</div>
