.mat-mdc-raised-button {
  background-color: #9e9e9e !important;
  font-size: 1em;
  width: 100%;
  padding: 5px !important;
}

.disabled {
  pointer-events: none;
}

.btn-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;

  p {
    margin: 0;
    font-size: 1em;
    color: var(--dark-font-color);
  }
}

