.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;

  .description {
    font-size: 1.4em;
    text-align: center;
    line-height: 160%;
  }
}
