<nav class="topbar-container" *ngIf="{ selectedTab: selectedTab$ | async } as data">
  <div class="upper-bar">
    <div class="breadcrums-container">
      <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="user-container">
      <app-icon file="account-white.svg" height="50px"></app-icon>
    </div>
  </div>
  <div class="lower-bar">
    <app-tab
      [label]="TabNames.Collections"
      [isActive]="data.selectedTab === TabNames.Collections"
      imgFilePrefix="collections"
      (onClick)="tabClick($event)"
    ></app-tab>
    <app-tab
      [label]="TabNames.Flashcards"
      [isActive]="data.selectedTab === TabNames.Flashcards"
      imgFilePrefix="cards"
      imgSize="28px"
      (onClick)="tabClick($event)"
    ></app-tab>
  </div>
</nav>
<div class="divider"></div>
