<div
  class="attempt-container"
  *ngIf="attempt$ && { attempt: attempt$ | async, exercise: exercise(), meanings: meanings() } as data"
>
  <app-selected-flashcards-list
    *ngIf="showList && data.attempt?.currentStage && data.attempt?.currentStage?.stage !== attemptStage.Complete"
    [flashcards]="flashcards"
    [collectionId]="data.attempt?.collectionId"
    (onContinue)="continue({ attemptId: attemptId! })"
  ></app-selected-flashcards-list>

  <app-single-select
    *ngIf="!showList && data.exercise?.isSingleSelect"
    [exercise]="data.exercise"
    [meanings]="data.meanings"
    (onSelectNext)="continue($event)"
  ></app-single-select>

  <app-multiselect-exercise
    *ngIf="!showList && data.exercise?.isMultiSelect"
    [exercise]="data.exercise"
    [meanings]="data.meanings"
    (onSelectNext)="continue($event)"
  ></app-multiselect-exercise>

  <app-input-exercise
    *ngIf="!showList && data.exercise?.isInput"
    [exercise]="data.exercise"
    [meanings]="data.meanings"
    (onSelectNext)="continue($event)"
  />

  <div *ngIf="data.attempt?.currentStage?.stage === attemptStage.Complete">
    <h1>Stage complete!</h1>
    <h2>You have completed {{ data.attempt?.completedFlashcardsCount }} flashcards.</h2>
  </div>
</div>
