<div
  class="attempt-container"
  *ngIf="attempt$ && { attempt: attempt$ | async, exercise: exercise(), meanings: meanings() } as data"
>
  <app-selected-flashcards-list
    *ngIf="showList && data.attempt?.currentStage"
    [flashcards]="flashcards"
    [collectionId]="data.attempt?.collectionId"
    (onContinue)="continue({ attemptId: attemptId! })"
  ></app-selected-flashcards-list>

  <app-single-select
    *ngIf="!showList && data.exercise"
    [exercise]="data.exercise"
    [meanings]="data.meanings"
    (onSelectNext)="continue($event)"
  ></app-single-select>
</div>
